body {
		background-image:url(Image/anhnencho.jpg);
		overflow-x: hidden;
	}	
div.vocal{
	width:100%;
	height:700px;
	background-image:url(Image/doinui1.jpg);
	background-size:cover;
	background-attachment:fixed;
	}	
div.header img{	
		width:250px;
		height:150px;
		margin-left:800px;	
		border-radius:50%;
		
	}
div.header a{ display:block;}
div.header li{
	list-style-type:none;
	margin-left:85%;
	margin-top:-80px;
	}	
hr{width:270px;}	
#search input{
		width:170px;
		height:35px;
		margin-top:-40px;
		margin-left:150px;
		border:0.5px solid;
		border-radius:40px/80px;
		outline:none;	
	}
#search input[type="Text"]:focus{
		width:300px;
		background-color:#0CF;
	}
		
nav{background-image: linear-gradient(#87CEEB, #FFB6C1);margin:-10px;}
#menu{
	width:100%;
	height:70px;
	margin-top:50px;
	font-size:30px;
	display:flex; 
	justify-content:center;}
#menu li{
	margin-top:10px;
	margin-left:50px;
	list-style:none;
	float:left;}
#menu li a{
	display:block;
	color:#FFF;
	text-decoration:none;}
#menu li:hover>a{
	height:60px;
	color:#333;}
#sub{
	width:11%;
	margin-top:-15px;
	font-size:28px;
	display:none;
	position:absolute;
	border-radius:5px 5px 60px 60px;
	z-index:50;}
#sub li{margin-left:0px;height:30px;}
#menu li #sub{background-image: linear-gradient(#FFB6C1, #87CEEB);}
#menu li:hover>#sub{display:block;}	

div.product{position:fixed;}	
div.product a{
	text-decoration:none;
	color:#000;
	display:block;	
	}
div.product li{
	font-size:20px;
	display:inline;
	}
div.product img{
	height:350px;
	margin-top:0px;
	margin-left:650px;
	}

div.product h1{text-align:center; font-family:"Comic Sans MS", cursive; color:#F08080;}
div.product h3{color:#F4A460; font-style:italic;}
#pro1 {
	width:275px;
	list-style-type:none;
	display:block;
	margin-left:300px;
	margin-top:0px;
	position:fixed;
	}
#pro1 img{
	width:340px;
	height:300px;
	margin-left:-350px;
	margin-top:-320px;
	border-radius:50% 45% 50% 0;
	}
#pro1 h3{
	font-style:normal; 
	margin-bottom:10px; 
	margin-top:10px;}	
#pro1 a:hover{
	background:#999;
	color:#000;}

div.origin{
	width:65%;
	display:flex;
	flex-wrap:wrap;
	margin-left:650px;
	}
div.ori{
	width:50%;
	font-size:20px;
	text-align:center;
	}
div.ori h1{margin-left:40px; color:#F08080;}
div.ori img{
	width:70%;
	margin-left:100px;
	border:solid 1px #CCCCCC;
	}
div.rears{
	width:65%;
	display:flex;
	flex-wrap:wrap;
	font-size:20px;
	background-image:url(Image/doinui1.jpg);
	background-size:cover;
	background-attachment:fixed;
	margin-left:650px;
	margin-top:100px;
	}
div.rears h1{margin-left:340px; color:#F08080;}
div.rear{
	width:24%;
	padding:6px;
	text-align:center;
	}
div.rear h3{color:#F4A460;}
div.rear img{
	width:100%;
	height:250px;
	border-radius:1%;
	}

div.characteristics{
	width:65%;
	display:flex;
	flex-wrap:wrap;
	font-size:20px;
	background-image:url(Image/doinui2.jpg);
	background-size:cover;
	background-attachment:fixed;
	margin-left:650px;
	margin-top:100px;
	}
div.characteristics h1{margin-left:180px; color:#F08080;}
div.characteristic{
	width:32%;
	padding:8px;
	text-align:center;
	}
div.characteristic h3{color:#F4A460;}
div.characteristic img{
	width:100%;
	height:250px;
	border-radius:10% 10% 10% 10%;}
	
div.notes{
	width:65%;
	height:100%;
	margin-left:650px;
	margin-top:100px;
	margin-bottom:100px;
	font-size:20px;
	background-image:url(Image/doinui2.jpg);
	background-size:cover;
	background-attachment:fixed;
	}
div.notes h1{margin-left:150px; color:#F08080;}
div.note{
	width:100%;
	display:flex;
	padding:7px;
	}
div.note img{ width:10%;height:10%; border-radius:50%;}
div.note p{
	margin-left:10px;}

#top {
	width:40px;
	height:40px;
	display: none;
	position: fixed;
	bottom: 60px;
	right: 80px;
	z-index: 99;
	border: none;
	outline: none;
	background-color:#F08080;
	cursor: pointer;
	border-radius:50%;
	opacity: 0.7;
}

#top:hover {background-color:#FFF;}
#top img{
	border-radius:50%;  
	width:25px;}


footer {
	width:102%;
	background-image:linear-gradient(0deg, #FFB6C1, #87CEEB);
	margin:-10px;
	padding:-10px;
	
	}
div.footer{
	width:100%;
	height:400px;
	margin-left:150px;
	font-size:20px;
	display:flex;
	flex-wrap: wrap;}
div.text{
	width:20%;
	height:380px;
	padding:10px;}
div.text img{
	width:300px;
	height:160px;
	border-radius:50%;}
div.text p{
	text-align:left;
	margin-top:-10px;}
div.text iframe{
	width:360px; 
	height:160px;
	margin-top:-20px;}	


i.fa-arrow-up{font-size:30px;}	
i.fa-shopping-cart{color:#00BFFF; font-size:40px;}
i.fa-mailchimp {color:#900; font-size:40px;}
i.fa-house-damage {color:#C33;font-size:40px;}
i.fa-earlybirds {color:#000; font-size:40px;}
i.fa-gift {color:#F00;font-size:40px;}
i.fa-star {color:#FF0;}
i.fa-firefox-browser {color:#F33;}
i.fa-utensils {color:#36F;}
i.fa-medkit {color:#F00;}
i.fa-angellist {color:#C06;}
i.fa-home{color:#C06;}
i.fa-envelope{color:#C06;}
i.fa-phone-alt{color:#C06;}
i.fa-facebook{color:#03F;font-size:40px;}
i.fa-instagram{
	font-size:40px;
	margin-left:15px;
	background-image:linear-gradient(purple, pink);
	border-radius:50%;	
	}
i.fa-twitter{
	font-size:40px;
	background-color:#06F;
	color:#FFF;
	margin-left:15px;	
	border-radius:50%;
	}
i.fa-envelope-open{
	font-size:40px;
	background-color:#000;
	color:#CCC;
	margin-left:15px;	
	border-radius:50%;
	}
i.fa-youtube{
	font-size:40px;
	background-color:#F00;
	color:#FFF;	
	border-radius:50%;
	margin-left:15px;	
	}

@media screen and (min-width:768px) and (max-width:1024px){
	body{width:100%;}
	div.header img{
		width:15%;
		height:5%;
		margin-left:45%;	
		}
	#search input{margin-left:0px;}
	#search input[type="Text"]:focus{width:200px;}
	#menu{
		height:50px;
		font-size:20px;
		margin-left:-50px;}
	#menu li{margin-left:18px;}
	#menu i{font-size:20px;}
	#sub{width:20%; font-size:23px; margin-top:-30px;}
	#sub li{width:100%; margin-left:-10px;}
	div.product{display:none;}
	div.origin{width:100%; margin-left:-50px;}
	div.ori{width:50%;}
	div.ori h1{font-size:26px;}
	div.vocal{height:580px;}
	div.rears{width:100%;margin-left:0px;}
	div.rears h1{margin-left:70px;}	
	div.rear{padding:2px;}
	div.characteristics{width:100%; margin-left:0px;}
	div.characteristics h1{margin-left:5px; font-size:35px;}
	div.characteristic{padding:3px;}
	div.notes{width:100%; margin-left:-7px;}
	div.notes h1{margin-left:25px; font-size:35px;}
	
	#top{right:15%;}
	div.footer{margin-left:0px; height:100%;}
	div.text{width:100%; margin-bottom:0px;}
	div.text p{margin-top:0px; font-size:20px;}
	div.text img{display:none;}
	div.text iframe{height:200px;  width:60%;}
	
	}
@media screen and (min-width:1024px) and (max-width:1366px){
	body{width:100%;}
	div.header img{
		width:15%;
		height:5%;
		margin-left:45%;	
		}
	#search input{margin-left:0px;}
	#search input[type="Text"]:focus{width:200px;}
	#menu{
		height:50px;
		font-size:24px;
		margin-left:-50px;}
	#menu li{margin-left:26px;}
	#menu i{font-size:20px;}
	#sub{width:18%; font-size:23px; margin-top:-30px;}
	#sub li{width:100%; margin-left:-10px;}
	div.product{display:none;}
	div.origin{width:100%; margin-left:-7%;}
	div.ori{width:50%; font-size:24px;}
	div.ori h1{font-size:34px;}
	div.vocal{height:650px;}
	div.rears{width:100%;margin-left:0px;}
	div.rears h1{margin-left:35%}	
	div.rear{font-size:24px; padding:5px;}
	div.characteristics{width:100%; margin-left:0px;}
	div.characteristics h1{margin-left:20%; font-size:35px;}
	div.characteristic{padding:6px;}
	div.notes{width:100%; margin-left:-7px;}
	div.notes h1{margin-left:25%; font-size:35px;}
	
	#top{right:10%;}
	div.footer{height:100%;margin-left:80px;}
	div.text{width:20%; margin-bottom:50px;}
	div.text p{margin-top:-10px;}
	div.text img{height:30%;}
	div.text iframe{height:140px;  width:100%;}
	
	}		
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
